<!DOCTYPE html>
<html><head><title>Carzam!</title>

<link rel="stylesheet" href="style.css">

<link rel="shortcut icon" type="image/x-icon" href="favicon.png" />

</head>
<body>
<br><br>
	<img src="carzam_logoname.png">
<br><br>
<div class="about">
<h1> About </h1>
<br>
CarZam is an application developed as part of a Capstone project in the MIDS program at the I-School at UC Berkeley. The application leverages deep learning neural network models to detect and predict the make and model of various cars sold in the US. The model was trained on an extensive dataset that combined public datasets as well as images sourced from webscraping automobile sales sites.  
<br>
<br>
<h2>Problem Statement</h2>
<br>
There are existing tools to detect cars in inages and videos but no comprehensive tool for also detecting make and model of the cars. For security and surveillance applications, the additional value of detecting make and model can help quickly narrow down and focus analysis. For traffic and commercial applications this tool can be extended to count makes and models of cars passing through intersections, tool gates, or on highways.
<br>
<br>
<h2>Datasets</h2>
<ul>
	<li>Webscraped Data</a></li>
	<li><a href = "https://ai.stanford.edu/~jkrause/cars/car_dataset.html">Stanford Data</a></li>
	<li><a href = "https://github.com/faezetta/VMMRdb">VMMR DB</a></li>
</ul>
<br>
<h2>Models</h2>
<br>
<h2>Results</h2>
<br>
<h2>Video Demo</h2>
<br>
<h2>Code</h2>
<a href="https://github.com/pnpgator/carzam"><img src="GitHub.png" width="20" height="20">  Carzam Repo</a>
<br>
<br>
<h2>Team Members</h2>
<ul>
	<li><a href = "https://www.ischool.berkeley.edu/people/william-king">Mike King</a>  <a href="https://www.linkedin.com/in/wmikeking"><img src="LinkedIn.png" width="22" height="20"></a></li>
	<br>
        <li><a href = "https://www.ischool.berkeley.edu/people/joseph-mercer">Joe Mercer</a>  <a href="https://www.linkedin.com/in/joseph-mercer-43413470/"><img src="LinkedIn.png" width="22" height="20"></li>
	<br>
	<li><a href = "https://www.ischool.berkeley.edu/people/pritesh-patel">Pritesh Patel</a>  <a href="https://www.linkedin.com/in/pritesh2/"><img src="LinkedIn.png" width="22" height="20"></li>
</ul>
<br>
</div>
</body></html>
